body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

h1 {
    
    height:auto;
    width: 520px;
    position: absolute;
    top: 100px;
    color: #fff;
    background-color: #0099e6;
    text-align: center;
    margin-bottom: 20px;
}
div form p{
      color: red;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}

button {
    background-color: #0099e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #0088cc;
}

a {

    color: #4CAF50;
    float: left;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

.copyright {
    position:absolute;
    text-align: center;
    margin-top: 30px;
    color: #aaa;
    bottom: 80px;
    left: 635px;
}
