*{
  margin: 0;
  padding: 0;
}

.social{
  padding-left: 180px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 15px;
  list-style: none;
  display:flex;
  background-color: #2f506c;
  height: 46px;
}

.icons{
  color:#7d8e9c;
  background: #27435a;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
}
.icons:hover{
   color: white;
   background: #6091ba;
}
.header{
   margin:0;
   padding:0;
 }
.header-main{
    padding: 30px 185px;
}
.menu-top{
  position: absolute;
  top: 82px;
  right: 38px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 700;
  padding-right: 150px;
 
}
.menu-top li {
  display: inline-block;
  list-style: none;
  border-right: 1px solid darkgray;
  padding: 0px 10px;

}

.menu-top a{
    text-decoration: none;
    color:darkgray;
}
a:hover{
  color:#6091ba;
}


.contact{
  position: absolute;
  top: 115px;
  right: 155px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 300;
  color:#444444;
}
  .contact p {
      display: inline-block;
      padding-right: 20px;
}

.contact a{
  text-decoration: none;
  color:#444444;
}
.fa-solid{
    color:#6091ba;
    font-size: 18px;
    padding-right: 5px;
}
/* ------------------------------------------------NAVBAR--------------------------------------------------------------------------*/
.menu-bar ul{
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    background: #6091ba;
} 
.menu-bar li{
    display: inline-block;
    padding: 19px;
}
.menu-bar ul li:hover{
    background-color:#4678a1;
}
.menu-bar ul a {
     text-decoration: none;
     color: white;
}
/*-------------------------------------------------------DROPDOWN MENU-------------------------------------------------------*/
.dropdown-menu{
   display: none;
   z-index: 10;
  

}
ul li:hover .dropdown-menu{
  display: block;
  position: absolute;
  margin-left: -19px;
  margin-top: 19px;
}
.dropdown-menu ul{
  width: 290px;
  
}
.dropdown-menu ul li{
  display: block;
  background-color: #4678a1;
  font:14px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #27435a;
  border-right: 1px solid #27435a;
}
.dropdown-menu ul li:hover{
    background-color: #27435a;
;
}

.fa-angle-right{
  position: absolute;
  left: 270px;
}

.dropdown-submenu{
  display: none;
}

.dropdown-menu ul li:hover .dropdown-submenu{
  display: block;
  position: absolute;
  margin-left: 280px;
  margin-top: -25.5px;

}
.dropdown-submenu1{
    display: none;
}

.dropdown-menu ul li:hover .dropdown-submenu1{
  display: block;
  position: absolute;
  margin-left: 280px;
  margin-top: -25.5px;

}
.dropdown-submenu2{
    display: none;
}
.dropdown-menu ul li:hover .dropdown-submenu2{
  display: block;
  position: absolute;
  margin-left: 280px;
  margin-top: -25.5px;
}
.dropdown-submenu3{
  display: none;
}
.dropdown-menu ul li:hover .dropdown-submenu3{
display: block;
position: absolute;
margin-left: 280px;
margin-top: -25.5px;
}
.dropdown-submenu4{
  display: none;
}
.dropdown-menu ul li:hover .dropdown-submenu4{
display: block;
position: absolute;
margin-left: 280px;
margin-top: -25.5px;
}
/*------------------------------------------------------------FIRST DROPDOWN MENU--------------------------------------------------*/
   .dropdown-menu1{
    display: none;
    z-index: 10;
   }
   ul li:hover .dropdown-menu1{
    display: block;
    position: absolute;
    margin-left: -19px;
    margin-top: 19px;
  }
  .dropdown-menu1 ul {
    width: 240px;

 }
  .dropdown-menu1 ul li{
    display: block;
    background-color: #4678a1;
    font:14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #27435a;
  }
  .dropdown-menu1 ul li:hover{
    background-color: #27435a;
  }

  /*-------------------------------------------------------------SECOND DROPDOWN MENU------------------------------------------------*/
  .dropdown-menu2{
    display: none;
    z-index: 10;
   }
   ul li:hover .dropdown-menu2{
    display: block;
    position: absolute;
    margin-left: -19px;
    margin-top: 19px;
  
  }
  .dropdown-menu2 ul {
     width: 240px;
  }
  .dropdown-menu2 ul li{
    display: block;
    background-color: #4678a1;
    font:14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #27435a;
  }
  .dropdown-menu2 ul li:hover{
    background-color: #27435a;
  }
  /*------------------------------------------------------THIRD DROPDOWN MENU-----------------------------------------------*/
  .dropdown-menu3{
    display: none;
    z-index: 10;
   }
   ul li:hover .dropdown-menu3{
    display: block;
    position: absolute;
    margin-left: -19px;
    margin-top: 19px;
  
  }
  .dropdown-menu3 ul {
     width: 240px;
  }
  .dropdown-menu3 ul li{
    display: block;
    background-color: #4678a1;
    font:14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #27435a;
  }
  .dropdown-menu3 ul li:hover{
    background-color: #27435a;
  }

  /*------------------------------------------------------FORTH DROPDOWN MENU-----------------------------------------------*/
  .dropdown-menu4{
    display: none;
    z-index: 10;
   }
   ul li:hover .dropdown-menu4{
    display: block;
    position: absolute;
    margin-left: -19px;
    margin-top: 19px;
  
  }
  .dropdown-menu4 ul {
     width: 240px;
  }
  .dropdown-menu4 ul li{
    display: block;
    background-color: #4678a1;
    font:14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    text-align: left;
    border-bottom: 1px solid #27435a;
    border-right: 1px solid #27435a;
    
  }
  .dropdown-menu4 ul li:hover{
    background-color: #27435a;
  }
.dropdown-menu4  .fa-angle-right{
  position: absolute;
  left: 220px;
}
.dropdown-menu4 ul li:hover{
  background-color: #27435a;
}
.dropdown-submenu5{
display: none;
}

.dropdown-menu4 ul li:hover .dropdown-submenu5{
display: block;
position: absolute;
margin-left: 230px;
margin-top: -25.5px;

}
.dropdown-submenu6{
  display: none;
  }
  
  .dropdown-menu4 ul li:hover .dropdown-submenu6{
  display: block;
  position: absolute;
  margin-left: 230px;
  margin-top: -25.5px;
  
  }
      
  
/*------------------------------------------------------FIFTH DROPDOWN MENU-----------------------------------------------*/
.dropdown-menu5{
      display: none;
      z-index: 10;
}
ul li:hover .dropdown-menu5{
      display: block;
      position: absolute;
      margin-left: -19px;
      margin-top: 19px;
    
}
.dropdown-menu5 ul {
       width: 240px;
}
.dropdown-menu5 ul li{
      display: block;
      background-color: #4678a1;
      font:14px;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
      padding:10px;
      text-align: left;
      border-bottom: 1px solid #27435a;
      
}

/*-------------------------------------------------------SIXTH DROPDOWN MENU------------------------------------------------------*/
  .dropdown-menu6{
    display: none;
    z-index: 10;
   }
   ul li:hover .dropdown-menu6{
    display: block;
    position: absolute;
    margin-left: -19px;
    margin-top: 19px;
  
  }
  .dropdown-menu6 ul {
     width: 240px;
  }
  .dropdown-menu6 ul li{
    display: block;
    background-color: #4678a1;
    font:14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    text-align: left;
    border-bottom: 1px solid #27435a;
    
  }
  .dropdown-menu6 ul li:hover{
    background-color: #27435a;
  }
/*-----------------------------------------FLEXSLIDER-----------------------------------------------------*/
.slide-container{
  position: relative;
  width: 1150px;
  height: 475px;
  margin: auto;
  margin-top: 30px;
}
.slide-container .slides{
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
  overflow: hidden;
}
.slide-container .slides img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.slide-container .slides img:not(.active){
  top: 0;
  left: -100%;
}
span.next, span.prev{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 14px;
  color:#FFFFF7;
  font-size: 24px;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  z-index: 1;
}
span.next{
  right: 20px;
}
span.prev{
  left: 20px;
}
span.next:hover, span.prev:hover{
  background-color: black;
  opacity: 0.8;
  color: white;
} 
.dotsContainer{
  position: absolute;
  bottom: 5px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}
.dotsContainer .dot{
  width: 12px;
  height: 12px;
  margin: 0px 2px;
  background-color: darkgray;
  
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
.dotsContainer .active{
  background-color:#6091ba;
}

@keyframes next1{
  from{
    left: 0%
  }
  to{
    left: -100%;
  }
}
@keyframes next2{
  from{
    left: 100%
  }
  to{
    left: 0%;
  }
}

@keyframes prev1{
  from{
    left: 0%
  }
  to{
    left: 100%;
  }
}
@keyframes prev2{
  from{
    left: -100%
  }
  to{
    left: 0%;
  }
}
/* ---------------------------------------------------TEXT SLIDER----------------------------------------*/
.box {
  
  width: 1118px;
  height: 120px;
  margin: auto;
  margin-top: 30px;
  padding:15px;
  background: #f5f5f5;
  border-left: 5px solid #6091ba;
}
.text-danger{
     padding-top: 8px;
}
.text-danger a{
    text-decoration: none;
    color:#aa4644;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200px;
}

@media screen and (max-width:600px)

{
   .header-main{
    padding-top: 0px;
    padding-left: 80px;
    margin-right: auto;
    margin-left: auto
}




}